discord
discord-ext-commands
requests
socket
datetime
os
sys
ctypes
asyncio
subprocess
winreg
pyautogui
io
urllib
websockets
win32com
base64
json
platform
random
re
shutil
sqlite3
threading
mss
time
sounddevice
soundfile
cv2
gtts
psutil
pyaudio
Cryptodome
discord.py
getpass
Pillow
pynput
win32crypt
numpy
pycaw
http.server
pypresence
spotipy
