asyncio==3.4.3
base64
certifi==2021.5.30
chardet==4.0.0
cv2
discord.py==1.7.3
gtts
idna==3.2
mss
numpy
PIL
plyer==2.0.0
psutil
pyaudio
pyautogui==0.9.53
pycryptodome
pyinstaller
pynput
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
sounddevice
soundfile
urllib3==1.26.7
win32com.client
win32crypt
webbrowser==0.5.1
keyboard
pyperclip
auto-py-to-exe
